@font-face {
    font-family: "Barlow-Black";
    src: url(".~@/assets/fonts/Barlow-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-BlackItalic";
    src: url("~@/assets/fonts/Barlow-BlackItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-Bold";
    src: url("~@/assets/fonts/Barlow-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-BoldItalic";
    src: url("~@/assets/fonts/Barlow-BoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-ExtraBold";
    src: url("~@/assets/fonts/Barlow-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-ExtraBoldItalic";
    src: url("~@/assets/fonts/Barlow-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-ExtraLight";
    src: url("~@/assets/fonts/Barlow-ExtraLight.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-ExtraLightItalic";
    src: url("~@/assets/fonts/Barlow-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-Italic";
    src: url("~@/assets/fonts/Barlow-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-Light";
    src: url("~@/assets/fonts/Barlow-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-LightItalic";
    src: url("~@/assets/fonts/Barlow-LightItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-Medium";
    src: url("~@/assets/fonts/Barlow-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-MediumItalic";
    src: url("~@/assets/fonts/Barlow-MediumItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow";
    src: url("~@/assets/fonts/Barlow-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-Regular";
    src: url("~@/assets/fonts/Barlow-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-SemiBold";
    src: url("~@/assets/fonts/Barlow-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-SemiBoldItalic";
    src: url("~@/assets/fonts/Barlow-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-Thin";
    src: url("~@/assets/fonts/Barlow-Thin.ttf") format("truetype");
}
@font-face {
    font-family: "Barlow-ThinItalic";
    src: url("~@/assets/fonts/Barlow-ThinItalic.ttf") format("truetype");
}
