// $primary: #2585d3;
$primary: #2585d3;

// Text
$selection-blue-text: #2585d3;
$hover-white-text: #feffff;
$grey-text: #bbbdbe;
$light-grey-text: #8d95aa;
$light-black: #5c5b5b;
$dark-grey: #393c42;

$resume: #f3a866;
$active-profile: #08a608;
$is-online: #73dca0;
$progress-bar: #3dd598;

// Background
$primary-background: #f4f7fc;
$pale-white-background: #f9fafd;
$dark-background: #1e2328;
$divider-color: #2e3236;

//Borders
$ghost-white-border: #f3f3f5;
$blue-tint-border: rgba(23, 30, 72, 0.1);

//Shadows
$blue-tint-shadow: rgba(23, 30, 72, 0.07);

// Priority
$critical-priority: #ff7f89;
$medium-priority: #08aa4f;
$low-priority: #171e48;
$high-priority: #ffa16c;

// Updates
$pending-status: #f79c4b;
$completed-status: #3dd598;
$resolved-status: #8578cd;
$closed-status: #747891;
$rejected-status: #f85859;

// Button
// $primary-button: #2585d3;
$shadow-color: #cdcdcd;
$skeleton-color: #dedeec;

// Tags
$simple-tag: #e7ecfe;
$solar-tag: #009add;
$plant-tag: #ff3d82;
$solarplant-tag: #00bd9d;

// pure colors
$white: #fff;
$black: #000;
$red: #ff0000;
$yellow: #ffff00;
$green: #00ff00;
$blue: #0000ff;
$grey: #808080;

//mixed colors
$blue-grey: #5c617d;
$new-grey: #5b607e;
$error: #ff3722;
$baltic-sea-grey: #323c46;
$light-greyish-blue: #e3e3eb;

// chart color
$owner: #54cbe0;
$assigned: #6882ff;
$watching: #ffa16c;

$therm-affected: #fe3267;
$therm-capacity: #08aa4f;

// ticket dashboard
$ticket-heading: #747891;
$primary-text: #171e48;
$secondary-text: #5c617e;
$list-header-text: #585e7d;
//ticket dashboard - priority
$priority-critical: #ff7a7a;
$priority-high: #f79c4b;
$priority-medium: #3dd598;
$priority-low: #747891;
// ticket dashboard - status
$status-pending: #f79c4b;
$status-resolved: #5240b9;
$status-rejected: #f85859;
$status-inprogress: #08aa4f;
$status-closed: #b9bbc7;

//ticket-dashboard - scheduling
$schedule-stopped: #fc5a5a;

$manager: #ed7836;
$guest: #f9306d;
