// NORMAL
.is-normal-14-500-17 {
  font-family: Barlow;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
// REGULAR
.is-regular-12-00-14 {
  font-family: Barlow-Regular !important;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px !important;
}
.is-regular-12-00-18 {
  font-family: Barlow-Regular ;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
.is-regular-12-00-24 {
  font-family: Barlow-Regular;
  font-size: 12px;
  font-weight: normal;
  line-height: 24px;
}
.is-regular-12-00-40 {
  font-family: Barlow-Regular;
  font-size: 12px;
  font-weight: normal;
  line-height: 40px;
}
.is-regular-12-500-14 {
  font-family: Barlow-Regular;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  color: #171e48;
}
.is-regular-14-500-17 {
  font-family: Barlow-Regular !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 17px !important;
}
.is-regular-14-00-17 {
  font-family: Barlow-Regular !important;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 17px !important;
}
.is-regular-14-00-22 {
  font-family: Barlow-Regular !important;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 22px !important;
}
.is-regular-14-00-00 {
  font-family: Barlow-Regular !important;
  font-size: 14px !important;
  font-weight: normal !important;
  // line-height: 17px !important;
}
.is-regular-13-00-20 {
  font-family: Barlow-Regular;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}
.is-regular-13-00-16 {
  font-family: Barlow-Regular;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
}
.is-regular-14-00-24 {
  font-family: Barlow-Regular !important;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 24px !important;
}
.is-regular-16-00-19 {
  font-family: Barlow-Regular !important;
  font-size: 16px !important;
  font-weight: normal !important;
  line-height: 17px !important;
}
.is-regular-16-00-20 {
  font-family: Barlow-Regular;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}
.is-regular-16-00-00 {
  font-family: Barlow-Regular;
  font-size: 16px;
  font-weight: normal;
  // line-height: 20px;
}
// MEDIUM
.is-medium-12-500-14 {
  font-family: Barlow-Medium !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 14px !important;
}
.is-medium-12-500-00 {
  font-family: Barlow-Medium !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}
.is-medium-13-500-16 {
  font-family: Barlow-Medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}
.is-medium-14-500-17 {
  font-family: Barlow-Medium !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 17px !important;
}
.is-regular-14-00-17 {
  font-family: Barlow-Regular !important;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 17px !important;
}
.is-regular-14-00-22 {
  font-family: Barlow-Regular ;
  font-size: 14px ;
  font-weight: normal ;
  line-height: 22px ;
}
.is-regular-13-00-20 {
  font-family: Barlow-Regular;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}
.is-regular-14-00-24 {
  font-family: Barlow-Regular ;
  font-size: 14px ;
  font-weight: normal ;
  line-height: 24px ;
}
.is-regular-16-00-19 {
  font-family: Barlow-Regular !important;
  font-size: 16px !important;
  font-weight: normal !important;
  line-height: 17px !important;
}
.is-regular-16-00-20 {
  font-family: Barlow-Regular;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}
.is-regular-16-00-00 {
  font-family: Barlow-Regular;
  font-size: 16px;
  font-weight: normal;
  // line-height: 20px;
}
// MEDIUM
.is-medium-12-500-14 {
  font-family: Barlow-Medium !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 14px !important;
}
.is-medium-12-500-00 {
  font-family: Barlow-Medium ;
  font-size: 12px ;
  font-weight: 500 ;
}
.is-medium-14-500-17 {
  font-family: Barlow-Medium !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 17px !important;
}
// .is-medium-14-600-17 {
//   font-family: Barlow-Medium !important;
//   font-size: 14px !important;
//   font-weight: 600 !important;
//   line-height: 17px !important;
// }
.is-medium-14-00-17 {
  font-family: Barlow-Medium;
  font-size: 14px ;
  font-weight: normal ;
  line-height: 17px ;
}
.is-medium-14-500-20 {
  font-family: Barlow-Medium;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.is-medium-14-500-24 {
  font-family: Barlow-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.is-medium-14-500-00 {
  font-family: Barlow-Medium;
  font-size: 14px;
  font-weight: normal;
}
.is-medium-15-500-18 {
  font-family: Barlow-Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}
.is-medium-16-500-00 {
  font-family: Barlow-Medium !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  // line-height: 19px !important;
}
.is-medium-16-500-19 {
  font-family: Barlow-Medium !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 19px !important;
}
.is-medium-16-500-22 {
  font-family: Barlow-Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.is-medium-16-500-50 {
  font-family: Barlow-Medium;
  font-size: 16px;
  font-weight: 500;
}
.is-medium-18-500-22 {
  font-family: Barlow-Medium !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 22px !important;
  color: #171e48 !important;
}
.is-medium-20-500-24 {
  font-family: Barlow-Medium;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
// SEMIBOLD
.is-semiBold-12-600-14 {
  font-family: Barlow-SemiBold ;
  font-size: 12px ;
  font-weight: 600 ;
  line-height: 14px ;
}
.is-semiBold-12-500-14 {
  font-family: Barlow-SemiBold;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
.is-semiBold-12-000-24 {
  font-family: Barlow-Medium;
  font-size: 12px;
  line-height: 24px;
}
.is-semiBold-14-600-17 {
  font-family: Barlow-SemiBold !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 17px !important;
}
.is-semiBold-14-600-22 {
  font-family: Barlow-SemiBold;
  font-size: 14px ;
  font-weight: 600 ;
  line-height: 22px ;
}
.is-semiBold-14-600-24 {
  font-family: Barlow-SemiBold ;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}
.is-semiBold-14-00-24 {
  font-family: Barlow-SemiBold;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}
// .is-semiBold-16-500-00 {
//   font-family: Barlow-SemiBold !important;
//   font-size: 16px !important;
//   font-weight: 500 !important;
// }
.is-semiBold-15-600-18 {
  font-family: Barlow-SemiBold;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}
.is-semiBold-16-500-19 {
  font-family: Barlow-SemiBold;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.is-semiBold-16-600-19 {
  font-family: Barlow-SemiBold !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 19px !important;
}
.is-semiBold-16-600-22 {
  font-family: Barlow-SemiBold ;
  font-size: 16px ;
  font-weight: 600 ;
  line-height: 22px;
}
.is-semiBold-16-600-00 {
  font-family: Barlow-SemiBold;
  font-size: 16px ;
  font-weight: 600 ;
}
.is-semiBold-18-600-22 {
  font-family: Barlow-SemiBold !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 22px !important;
  color: #171e48;
}
.is-medium-14-600-17 {
  font-family: Barlow-Medium !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 17px !important;
}
.is-medium-14-00-17 {
  font-family: Barlow-Medium ;
  font-size: 14px ;
  font-weight: normal ;
  line-height: 17px ;
}
.is-medium-14-500-20 {
  font-family: Barlow-Medium ;
  font-size: 14px ;
  font-weight: normal;
  line-height: 20px;
}
.is-medium-14-500-24 {
  font-family: Barlow-Medium ;
  font-size: 14px ;
  font-weight: 500 ;
  line-height: 24px ;
}
.is-medium-14-500-00 {
  font-family: Barlow-Medium;
  font-size: 14px ;
  font-weight: normal;
}
.is-medium-15-500-18 {
  font-family: Barlow-Medium ;
  font-size: 15px ;
  font-weight: 500 ;
  line-height: 18px ;
}
.is-medium-16-500-19 {
  font-family: Barlow-Medium !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 19px !important;
}
.is-medium-16-500-22 {
  font-family: Barlow-Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.is-medium-16-500-50 {
  font-family: Barlow-Medium;
  font-size: 16px;
  font-weight: 500;
}
.is-medium-18-500-22 {
  font-family: Barlow-Medium !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 22px !important;
  color: #171e48 !important;
}
.is-medium-20-500-24 {
  font-family: Barlow-Medium ;
  font-size: 20px ;
  font-weight: 500 ;
  line-height: 24px ;
}
// SEMIBOLD
.is-semiBold-12-600-14 {
  font-family: Barlow-SemiBold ;
  font-size: 12px ;
  font-weight: 600 ;
  line-height: 14px ;
}
.is-semiBold-12-500-14 {
  font-family: Barlow-SemiBold;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
.is-semiBold-12-000-24 {
  font-family: Barlow-Medium;
  font-size: 12px;
  line-height: 24px;
}
.is-semiBold-14-600-17 {
  font-family: Barlow-SemiBold !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 17px !important;
}
.is-semiBold-14-600-22 {
  font-family: Barlow-SemiBold ;
  font-size: 14px ;
  font-weight: 600 ;
  line-height: 22px ;
}
.is-semiBold-14-600-24 {
  font-family: Barlow-SemiBold ;
  font-size: 14px ;
  font-weight: 600 ;
  line-height: 24px ;
}
.is-semiBold-14-00-24 {
  font-family: Barlow-SemiBold;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}
.is-semiBold-16-500-00 {
  font-family: Barlow-SemiBold ;
  font-size: 16px ;
  font-weight: 500 ;
}
.is-semiBold-15-600-18 {
  font-family: Barlow-SemiBold;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}
.is-semiBold-16-500-19 {
  font-family: Barlow-SemiBold;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.is-semiBold-16-600-19 {
  font-family: Barlow-SemiBold !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 19px !important;
}
.is-semiBold-16-600-22 {
  font-family: Barlow-SemiBold;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.is-semiBold-16-600-00 {
  font-family: Barlow-SemiBold ;
  font-size: 16px ;
  font-weight: 600 ;
}
.is-semiBold-18-600-22 {
  font-family: Barlow-SemiBold !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 22px !important;
  color: #171e48;
}
.is-semiBold-20-600-000 {
  font-family: Barlow-SemiBold;
  font-size: 20px;
  font-weight: 600;
  color: #171e48;
}
.is-semiBold-24-600-106 {
  font-family: Barlow-SemiBold;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
//**********************fixed text*******************//
.sh-small-header {
  font-size: 14px;
  color: $dark-grey;
  font-weight: 700;
  margin: 2rem 0;
}
.sh-medium-header {
  width: 95px;
  height: 19px;
  font-family: Barlow-Medium;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #171e48;
}

.has-primary-text {
  color: #171e48 !important;
}
.has-secondary-text {
  color: #8d95aa !important;
}
.has-accent-text {
  color: $primary !important;
}
.heading-primary {
  font-size: 1.7rem;
  font-weight: 600;
}
.text-inactive {
  color: $light-grey-text;
  white-space: nowrap;
  font-size: 1.6rem;
}
.has-opacity-3 {
  opacity: 0.3;
}
.has-opacity-4 {
  opacity: 0.4;
}
.has-opacity-5 {
  opacity: 0.5;
}
.has-opacity-6 {
  opacity: 0.6;
}
.has-opacity-7 {
  opacity: 0.7;
}
.has-opacity-8 {
  opacity: 0.8;
}
.has-opacity-9 {
  opacity: 0.9;
}
